<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>당신이 좋아하는 사람들</title>
</head>

<body>

<main layout:fragment="main">
    <th:block th:unless="${@rq.member.hasConnectedInstaMember}">
        <div>먼저 본인의 인스타그램 아이디를 입력해주세요.</div>

        <div>
            <a href="/instaMember/connect" class="btn btn-link">본인의 인스타그램 아이디 입력하기</a>
        </div>
    </th:block>

    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th>번호</th>
                <th>인스타 아이디</th>
                <th>호감 표시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>


            <th:block th:if="${@rq.member.hasConnectedInstaMember}">

                <tr class="container my-3" th:each="likeablePerson, loop : ${likeablePeople}">
                    <td>
                        <a th:text="${loop.count}"></a>
                    </td>
                    <td class="toInstaMember_username" th:text="${likeablePerson.toInstaMember.username}"></td>
                    <td class="toInstaMember_attractiveTypeDisplayName"
                        th:text="${likeablePerson.attractiveTypeDisplayName}"></td>
                    <th>
                        <a class="btn btn-sm btn-primary" href="javascript:;" onclick="if ( confirm('정말로 삭제하시겠습니까?') ) $(this).next().submit();">삭제</a>
                        <form hidden th:action="@{|/likeablePerson/${likeablePerson.id}|}" method="POST">
                            <input type="hidden" name="_method" value="delete">
                        </form>
                    </th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
</body>

</html>

